
<footer>
 <div class="container">
  <div class="row">
    <div class="span2">
      <h4><i class="icon-star icon-white"></i>Departments</h4>
      <nav>
        <ul class="quick-links">
          <li><a href="me">Mech</a></li>
          <li><a href="cse">CSE</a></li>
          <li><a href="eee">EEE</a></li>
          <li><a href="eni">E&I</a></li>
          <li><a href="etnt">Et&NT</a></li>
          <li><a href="it">IT</a></li>
          <li><a href="mex">Mecharonics</a></li>
        </ul>
      </nav>
      
    </div>


    <div class="span2">
      <h4><i class="icon-cogs icon-white"></i>Clubs</h4>
      <nav>
        <ul class="quick-links">
          <li><a href="mea">MEA</a></li>
          <li><a href="ace">ACE</a></li>
          <li><a href="saeee">SAEEE</a></li>
          <li><a href="elite">ELITE</a></li>
          <li><a href="brite">BRITE</a></li>
          <li><a href="comet">COMET</a></li>
          <li><a href="fame">FAME</a></li>
        </ul>
      </nav>      
    </div>
    <div class="span2">
      <h4><i class="icon-thumbs-up icon-white"></i>Admissions</h4>
      <nav>
        <ul class="quick-links">
          <li><a href="admissions">Undergraduate</a></li>
          <li><a href="admissions">Postgraduate</a></li>            
        </ul>
      </nav>
      <h4><i class="icon-legal icon-white"></i> Legal</h4>
      <nav>
        <ul class="quick-links">
          <li><a href="#">Anti-Ragging</a></li>
          
          
        </ul>
      </nav>            
    </div>
    <div class="span3">
      <h4>Get in touch</h4>
      <div class="social-icons-row">
        
        <a href="#"><i class="icon-facebook"></i></a>  
        <a href="#"><i class="icon-google-plus"></i></a> 
        <a href="mailto:itclub@csitdurg.in">  <i class="icon-envelope"></i>   </a>                                 
      </div>
    </div>
    
    
    <div class="span2">
      <nav>
        <ul class="quick-links">
          <li><a href="faq">Gallery</a></li>
          <li><a href="contact_us">E-sancharika</a></li>  
          <li><a href="contact_us">Disclosure</a></li>          
        </ul>
      </nav>
    </div>
    <div class="span3">
      <h4>Jobs@CSIT</h4>
      <nav>
        <ul class="quick-links">
         <li><a href="#"><span class="style1"></span>New Openings</a></li>
       </ul>
     </nav>
   </div>
 </div>
 
</div>
<hr class="footer-divider">
<div class="container">
  <p align="center">
    &copy; 2015-2016 CSIT,Durg | All Rights Reserved | Developed By : Subhanshu Pandey | Managed By : IT-CLUB </p>
  </div>
</footer>
