{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="About Institute">
  <meta name="author" content="Subhanshu Pandey">
  <title>About Institute</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome-ie7.css' %}" rel="stylesheet">
  <link href="{% static 'css/boot-business.css' %}" rel="stylesheet"> 
</head>
<body>
 <header>
   
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="index" class="brand brand-bootbus">CSIT</a>
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>            </button>
          <div class="nav-collapse collapse">        
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="institute"> About Institute</a></li>
                  <li><a href="mission">Mission & Vision</a></li>
                  <li><a href="chairman">Chairman Speaks</a></li>
                  <li><a href="director">Director Speaks</a></li>
                  <li><a href="eminent_faculties">Eminent Faculties</a></li>
                  <li><a href="qualitypolicy">Quality Policy</a></li> 
                  <li><a href="governingbody">Governing Body</a></li>             
                </ul>                  
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics<b class="caret"></b></a>
                <ul class="dropdown-menu">
                 <li class="nav-header">Undergraduate</li>
                 <li><a href="me">Mechanical Engineering</a></li>
                 <li><a href="cse">Computer Science & Engineering</a></li>
                 <li><a href="etnt">Electronics & Telecommunication</a></li>
                 <li><a href="ei">Electronic & Instrumentation</a></li>
                 <li><a href="eee">Electrical Engineering</a></li>
                 <li><a href="it">Information Technology </a></li>
                 <li><a href="mex">Mechatronics Engineering</a></li>
                 <li class="nav-header"> Applied Sciences & Humanities</li>
                 <li><a href="physics">Applied Physics</a></li>
                 <li><a href="chemistry">Applied Chemistry</a></li>
                 <li><a href="maths">Applied Mathematics</a></li>
                 <li class="nav-header">Postgraduate</li>
                 <li><a href="mtech_me">Mechanical Engineering</a></li>
                 <li><a href="mtech_cse">Computer Science & Engineering</a></li>
                 <li><a href="mtech_etnt">Electronics & Telecommunication</a></li>
               </ul>
             </li>
             
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Associations<b class="caret"></b></a>
              <ul class="dropdown-menu">
               <li class="nav-header">Association Clubs</li>
               <li><a href="mea">MEA</a></li>
               <li><a href="ace">ACE</a></li>
               <li><a href="saeee">SAEEE</a></li>
               <li><a href="elite">ELITE</a></li>
               <li><a href="comet">COMET</a></li>
               <li><a href="brite">BRITE</a></li>
               <li><a href="fame">FAME</a></li>
               <li class="nav-header">Clubs</li>
               <li><a href="itclub">IT-Club</a></li>
               <li><a href="iclicks">I-Click</a></li>
               <li><a href="eneryclub">Energy Club</a></li>
             </ul>
           </li>
           <li><a href="admissions">Admissions</a></li>  
           <li><a href="tpo">TPO</a></li>  
           <li><a href="alumni">Alumni</a></li>  
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Facilities<b class="caret"></b></a>
            <ul class="dropdown-menu">
             <li><a href="canteen">Canteen</a></li>
             <li><a href="cafe">Cafe</a></li>
             <li><a href="hostel">Hostel</a></li>
             <li><a href="postoffice">Post Office</a></li>
             <li><a href="bank">Bank</a></li>
             <li><a href="atm">ATM</a></li>
             <li><a href="gym">Gym</a></li>
           </ul>
         </li>
         <li><a href="contact_us">Contact</a></li>  
       </ul>
     </div>
   </div>
 </div>
</div>

</header>
<div class="content">    
  <div class="container">
    <airticle class="article">
      <div class="row bottom-space">
        <div class="span12">
          <div class="page-header">
            <h1>About Institute</h1>
          </div>
        </div>
        <div class="span12 center-align">
          <br>
          {% for about_institute in j%}
          <img src="/static/{{about_institute.about_institute_image}}" class="thumbnail product-snap"> 
          {% endfor %}
          
        </div>
      </div>
      <div class="row">
        <div class="span10 offset1">
          
          
         {% for about_institute in j%}
         <p>{{about_institute.about_institute|linebreaks}}</p>
         {% endfor %}
         <h5>LOCATION</h5>
         <p>
          The Institute is located on Durg Balod, Dallirajhara Road at Shivaji Nagar near Kolihapuri, Dist. Durg (C.G.), 4Kms away from the Collectorate and 6 Kms from Railway Station, Durg. The grandeur of the location provides a unique environment for education in close proximity with nature which is farfetched from the hum-drum of the city. The CSIT campus has enrapturing and captivating lush surroundings where silence is punctuated with birdsongs and gentle sway of trees. The total atmosphere adds to an aura of serenity and peace. The institute is well connected and can be reached by Air from Swami Vivekanand Airport, Mana, Raipur which is 45kms and can also be reached by using bus from Bus Stand, Durg which is 4kms from the institute. </p>

          <h5>THE EDUCATIONAL PHILOSOPHY </h5>
          <p>
            To operate successfully in the world by facing Global Competition, Rapid Technological Advancement and Discriminating Consumerism, today’s engineer needs broad vision with creative, global perspective / outlook & ability for Real Time Management of a Dynamic Scenario with increasing diversity. This amalgamation of the creative and the real is reflected in our pedagogy too. Without compromising the extent and depth of learning, our faculty employs creative methods to make studying an exciting experience. This Teaching Methodology endeavors to inculcate in the Students and Faculties a frame of mind and attitude to cope with the Rapid pace of change in the Engineering and Technology Arena.</p>

            <h5>INFRASTRUCTURE / HIGHLIGHTS</h5>
            <div class="span8 offset1">
              <ul class="features">
               <li><i class="icon-ok "></i>Campus spread over 33 Acres of Land in Eco Friendly and Lush Green Environment.</li>
               <li><i class="icon-ok "></i>	Campus Floor area more than 4.50 Lacs sq. ft. (approx.) for Academic Activities.</li>
               <li><i class="icon-ok "></i>50,000 sq. ft. floor area for Laboratories.</li>
               <li><i class="icon-ok "></i>	Canteen with modern Amenities in an area of 5,000 sq. ft.</li>
               <li><i class="icon-ok "></i>	Separate Girls and Boys Hostel with 300 Students Capacity each in an area of 10,000 sq. ft. respectively.</li>
               <li><i class="icon-ok "></i>A Fully Residential Campus for Faculty & Staff with world class Infrastructures in total area of 6,000 sq. ft.  &nbsp; &nbsp; &nbsp;along with Quarters for HOD’s and Senior Lecturers in a total area of 5,000 sq. ft.</li>
               <li><i class="icon-ok "></i>Amphitheatre in 3,000 sq. ft, Separate Conference Hall with seating capacity of 600, 400, 250, 200 & 150 each.</li>
               <li><i class="icon-ok "></i>Cafeteria, 100% Power Backup.</li>
               <li><i class="icon-ok "></i>In Campus Bank (Chhattisgarh State Gramin Bank).</li>
               <li><i class="icon-ok "></i>Axis Bank, Bank of Baroda and State Bank of India ATM facility.</li>
               <li><i class="icon-ok "></i>Sports Ground i.e. Cricket, Football, Basketball, Volleyball, Handball, Kabddi etc</li>
               <li><i class="icon-ok "></i>Indoor Sports Facilities i.e. Badminton, Carrom, Chess and Table Tannis.</li> 
               <li><i class="icon-ok "></i>Luxurious Air Conditioned Two Guest House in an area of 1000 sq. ft. Each.</li>
             </ul></div>

             <h5>CULTURE</h5>

             CSIT Culture is a blend of Professionalism, Social and Ethical values. CSIT imparts education through healthy and in discriminatory teaching practices. The institute aims at inculcating a peace loving and sensitive attitude among students.

             CSIT is dedicated to providing its students with an Education that combines rigorous Academic study and the Excitement of discovery with the support and Intellectual Stimulation of a diverse Campus Community.</p>

















             
           </div>      
         </div>
       </airticle>
       <!-- End: Product description -->
     </div>
   </div>
 </div>
 <footer>
   <div class="container">
    <div class="row">
      <div class="span2">
        <h4><i class="icon-star icon-white"></i>Departments</h4>
        <nav>
          <ul class="quick-links">
            <li><a href="me">Mech</a></li>
            <li><a href="cse">CSE</a></li>
            <li><a href="eee">EEE</a></li>
            <li><a href="eni">E&I</a></li>
            <li><a href="etnt">Et&NT</a></li>
            <li><a href="it">IT</a></li>
            <li><a href="mex">Mecharonics</a></li>
          </ul>
        </nav>
        
      </div>
      <div class="span2">
        <h4><i class="icon-cogs icon-white"></i>Clubs</h4>
        <nav>
          <ul class="quick-links">
            <li><a href="mea">MEA</a></li>
            <li><a href="ace">ACE</a></li>
            <li><a href="saeee">SAEEE</a></li>
            <li><a href="elite">ELITE</a></li>
            <li><a href="brite">BRITE</a></li>
            <li><a href="comet">COMET</a></li>
            <li><a href="fame">FAME</a></li>
          </ul>
        </nav>      
      </div>
      <div class="span2">
        <h4><i class="icon-thumbs-up icon-white"></i>Admissions</h4>
        <nav>
          <ul class="quick-links">
            <li><a href="admissions">Undergraduate</a></li>
            <li><a href="admissions">Postgraduate</a></li>            
          </ul>
        </nav>
        <h4><i class="icon-legal icon-white"></i> Legal</h4>
        <nav>
          <ul class="quick-links">
            <li><a href="#">Anti-Ragging</a></li>
            
            
          </ul>
        </nav>            
      </div>
      <div class="span3">
        <h4>Get in touch</h4>
        <div class="social-icons-row">
          <a href="#"><i class="icon-twitter"></i></a>
          <a href="#"><i class="icon-facebook"></i></a>  
          <a href="#"><i class="icon-google-plus"></i></a>                                       
        </div>
        <div class="social-icons-row">      
          <a href="mailto:itclub@csitdurg.in"><i class="icon-envelope"></i></a></div>
        </div>      
        
        <div class="span3">
          <nav>
            <ul class="quick-links">
              <li><a href="faq">Gallery</a></li>
              <li><a href="contact_us">E-sancharika</a></li>  
              <li><a href="contact_us">Disclosure</a></li>          
            </ul>
          </nav>

          <div class="span3">
            <h4>Jobs@CSIT</h4>
            <li><a href="#"><span class="style1"></span>New Openings</a></li>
          </div>
        </div>
      </div>
      
    </div>
    <hr class="footer-divider">
    <div class="container">
      <p align="center">
        &copy; 2015-2016 CSIT,Durg | All Rights Reserved | Developed By : Subhanshu Pandey | Managed By : IT-CLUB </p>
      </div>
    </footer>
    
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/boot-business.js' %}"></script>
    
    
    
  </body>
  </html>
