{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Mission and Vision">
  <meta name="author" content="Your name">
  <title>Mission And Vission </title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome-ie7.css' %}" rel="stylesheet">
  <link href="{% static 'css/boot-business.css' %}" rel="stylesheet">
</head>
<body>
  <header>
   <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="index" class="brand brand-bootbus">CSIT</a>
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>            </button>
          <div class="nav-collapse collapse">        
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="institute.html"> About Institute</a></li>
                  <li><a href="mission.html">Mission & Vision</a></li>
                  <li><a href="chairman.html">Chairman Speaks</a></li>
                  <li><a href="director.html">Director Speaks</a></li>
                  <li><a href="eminent_faculties.html">Eminent Faculties</a></li>
                  <li><a href="qualitypolicy.html">Quality Policy</a></li> 
                  <li><a href="governingbody.html">Governing Body</a></li>             
                </ul>                  
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics<b class="caret"></b></a>
                <ul class="dropdown-menu">
                 <li class="nav-header">Undergraduate</li>
                 <li><a href="me.html">Mechanical Engineering</a></li>
                 <li><a href="cse.html">Computer Science & Engineering</a></li>
                 <li><a href="etnt.html">Electronics & Telecommunication</a></li>
                 <li><a href="ei.html">Electronic & Instrumentation</a></li>
                 <li><a href="eee.html">Electrical Engineering</a></li>
                 <li><a href="it.html">Information Technology </a></li>
                 <li><a href="mex.html">Mechatronics Engineering</a></li>
                 <li class="nav-header"> Applied Sciences & Humanities</li>
                 <li><a href="physics.html">Applied Physics</a></li>
                 <li><a href="chemistry.html">Applied Chemistry</a></li>
                 <li><a href="maths.html">Applied Mathematics</a></li>
                 <li class="nav-header">Postgraduate</li>
                 <li><a href="mtech_me.html">Mechanical Engineering</a></li>
                 <li><a href="mtech_cse.html">Computer Science & Engineering</a></li>
                 <li><a href="mtech_etnt.html">Electronics & Telecommunication</a></li>
               </ul>
             </li>
             
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Associations<b class="caret"></b></a>
              <ul class="dropdown-menu">
               <li class="nav-header">Association Clubs</li>
               <li><a href="mea.html">MEA</a></li>
               <li><a href="ace.html">ACE</a></li>
               <li><a href="saeee.html">SAEEE</a></li>
               <li><a href="elite.html">ELITE</a></li>
               <li><a href="comet.html">COMET</a></li>
               <li><a href="brite.html">BRITE</a></li>
               <li><a href="fame.html">FAME</a></li>
               <li class="nav-header">Clubs</li>
               <li><a href="itclub.html">IT-Club</a></li>
               <li><a href="iclicks.html">I-Click</a></li>
               <li><a href="eneryclub.html">Energy Club</a></li>
             </ul>
           </li>
           <li><a href="admissions.html">Admissions</a></li>  
           <li><a href="tpo.html">TPO</a></li>  
           <li><a href="alumni.html">Alumni</a></li>  
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Facilities<b class="caret"></b></a>
            <ul class="dropdown-menu">
             <li><a href="canteen.html">Canteen</a></li>
             <li><a href="cafe.html">Cafe</a></li>
             <li><a href="hostel.html">Hostel</a></li>
             <li><a href="postoffice.html">Post Office</a></li>
             <li><a href="bank.html">Bank</a></li>
             <li><a href="atm.html">ATM</a></li>
             <li><a href="gym.html">Gym</a></li>
           </ul>
         </li>
         <li><a href="contact_us.html">Contact</a></li>  
       </ul>
     </div>
   </div>
 </div>
</div>

</header>  
</header>
<div class="content">    
  <div class="container">
    <airticle class="article">
      <div class="row bottom-space">
        <div class="span12">
          <div class="page-header">
            <h1>Mission & Vision</h1> 
          </div>
        </div>
        <div class="span12 center-align">
          <br>
          {% for mission_vision in o %}
          <img src="/static/{{mission_vision.mission_image}}" class="thumbnail product-snap">            
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="span10 offset1">
          <h5> THE VISION </h5>
          <p>
            To Nurture world class Intellectual growth by Imparting High Quality, Futuristic Technical Education to Emerge as one of the Best Technical Institutes, to serve the Mankind.</p>




            <h5>
              THE MISSION </h5>

              <div class="span8 offset1">
                <ul class="features">
                 <li><i class="icon-ok "></i>
                  To Create Inspiring Environment that will be most suited for Research, Creativity and Innovation.</li>
                  <li><i class="icon-ok "></i>Providing Quality Technical Education at par with Global standards.</li>
                  <li><i class="icon-ok "></i>To Accomplish National Centre of Excellence in Collaboration with Industry.</li>
                  <li><i class="icon-ok "></i>To Establish International Alliances and Collaborations with Foreign Universities to achieve Global Excellence.</li></ul></div> 
                  
                </div>      
              </div>
            </airticle>
            <!-- End: Product description -->
          </div>
        </div>
      </div>
      <!-- End: Main content -->
      <!-- Start: FOOTER -->
      <footer>
       <div class="container">
        <div class="row">
          <div class="span2">
            <h4><i class="icon-star icon-white"></i>Departments</h4>
            <nav>
              <ul class="quick-links">
                <li><a href="product.html">Mech</a></li>
                <li><a href="product.html">CSE</a></li>
                <li><a href="product.html">EEE</a></li>
                <li><a href="all_products.html">E&I</a></li>
                <li><a href="all_products.html">Et&NT</a></li>
                <li><a href="all_products.html">IT</a></li>
                <li><a href="all_products.html">Mecharonics</a></li>
              </ul>
            </nav>
            
          </div>
          <div class="span2">
            <h4><i class="icon-cogs icon-white"></i>Clubs</h4>
            <nav>
              <ul class="quick-links">
                <li><a href="product.html">MEA</a></li>
                <li><a href="product.html">ACE</a></li>
                <li><a href="product.html">SAEEE</a></li>
                <li><a href="all_products.html">ELITE</a></li>
                <li><a href="all_products.html">BRITE</a></li>
                <li><a href="all_products.html">COMET</a></li>
                <li><a href="all_products.html">FAME</a></li>
              </ul>
            </nav>      
          </div>
          <div class="span2">
            <h4><i class="icon-thumbs-up icon-white"></i>Admissions</h4>
            <nav>
              <ul class="quick-links">
                <li><a href="faq.html">Undergraduate</a></li>
                <li><a href="contact_us.html">Postgraduate</a></li>            
              </ul>
            </nav>
            <h4><i class="icon-legal icon-white"></i> Legal</h4>
            <nav>
              <ul class="quick-links">
                <li><a href="#">Anti-Ragging</a></li>
                
                
              </ul>
            </nav>            
          </div>
          <div class="span3">
            <h4>Get in touch</h4>
            <div class="social-icons-row">
              <a href="#"><i class="icon-twitter"></i></a>
              <a href="#"><i class="icon-facebook"></i></a>
              <a href="#"><i class="icon-linkedin"></i></a>                                         
            </div>
            <div class="social-icons-row">
              <a href="#"><i class="icon-google-plus"></i></a>                       
              <a href="mailto:itclub@csitdurg.in"><i class="icon-envelope"></i></a>            </div>
            </div>      
            
            <div class="span3">
              <nav>
                <ul class="quick-links">
                  <li><a href="faq.html">Gallery</a></li>
                  <li><a href="contact_us.html">E-sancharika</a></li>  
                  <li><a href="contact_us.html">Disclosure</a></li>          
                </ul>
              </nav>

              <div class="span3">
                <h4>Jobs@CSIT</h4>
                <li><a href="#"><span class="style1"></span>New Openings</a></li>
              </div>
            </div>
          </div>
          
        </div>
        <hr class="footer-divider">
        <div class="container">
          <p align="center">
            &copy; 2015-2016 CSIT,Durg, Inc. All Rights Reserved.,Managed & Developed By : IT-Club       </p>
          </div>
        </footer>
        <!-- End: FOOTER -->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/boot-business.js' %}"></script>
      </body>
      </html>
